:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --bg-color: #111;
    --text-color: #ecf0f1;
    --border-color: #bdc3c7;
    --button-bg-color: #ffffff21;
    --danger-color: #b92d2da1;
    --green-color: #3ba100c2;
    --violet-color: #7700ff79;
    --grey-color: #232323a1;
    --grey-2-color: #321f3aa1;
}